h1 {
    color:#583cb3;
}

p {
    color:#ea638c;
}

button {
    color:brown;
    background-color:rgb(50, 133, 205);
}
button {
    color:green;
    background-color:rgb(205, 143, 50);
}
button {
    color:pink;
    background-color:rgb(205, 50, 140);
}
button {
    color:white;
    background-color:rgb(192, 205, 50);
}
button {
    color:black;
    background-color:rgb(81, 205, 50);
}

body {
    background-color:#f7fefd;
}
h1 {
    color:#583cb3;
}

p {
    color:#ea638c;
}

button {
    color:brown;
    background-color:rgb(50, 133, 205);
}
button {
    color:green;
    background-color:rgb(205, 143, 50);
}
button {
    color:pink;
    background-color:rgb(205, 50, 140);
}
button {
    color:white;
    background-color:rgb(192, 205, 50);
}
button {
    color:black;
    background-color:rgb(81, 205, 50);
}

body {
    background-color:#f7fefd;
}